body {
  font-size: 1.1rem;
  /* sourced from https://stackoverflow.com/questions/21590343/how-to-display-a-gif-fullscreen-for-a-webpage-background*/
  /* Instead of keeping this full screen I want to have it for just the title */
  margin: 50px;
}

.box{
  background-color: rgba(0, 0, 0, 0.459);
  /* BOX MODEL */
  /* Source: https://www.youtube.com/watch?v=nSst4-WbEZk */
  width: 1000px;
  height: 600px;
  padding: 32px; 
  margin: 20px;
}

/* YOUTUBE TUT ON HOW TO INSERT A LINK TO A SPECIFIC PART OF THE PAGE: https://www.youtube.com/watch?v=xHFzQ8QRjGU */
.titlebox{
  /* background-color: rgba(0, 0, 0, 0.459); */
  /* BOX MODEL */
  /* Source: https://www.youtube.com/watch?v=nSst4-WbEZk */
  background-image: url('https://ucarecdn.com/c11586fa-d365-45ea-bc5a-68f0022923df/');
  background-size: cover;
  padding:0;
  margin:0;
  width: 1000px;
  height: 600px;
  padding: 32px; 
  margin: 20px;

}
.logo{
  width: 10%;       
  height: auto;     
}
}

h1 {
  color: white;
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
h3 {
  color: whitesmoke(109, 102, 218);
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
}
li {
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* not pushing why? */

/* 
    curly braces { } - grouping
    square brackets [ ] - javascript 
    round brackets ( ) - javascript
    parantheses < > - html
    semicolon ; - to end a line
    colon : -property of declaration
    hyphen - - connect to words
    syntax - rules of language 
    dot . - in css = class
    hash # - in css = ID
/* 

/* 
    in css you do mostly element based styling or class based styling, in rare occasions you may do ID but mostly ID link to JS
*/

/* 
    Cascade - css will read the rules written further down as priority over the previous e.g. if i write 2 * h1 {} rules, then the second one written which is lower on the document will take presidence.  
    Specificty - acts as a ranking system and takes precedence eg a class (*) will take presidence over an element

    Specificity Rank
    * universal selector = 0
    element = 1
    class, psuedo class or attribute = 10
    ID = 100
    Style attribute = 1000
*/
