body {
    font-size: 1.1rem;
    text-align: center;
    margin: 0 auto;
    /* horizontal centering */
}

h1 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

p {
    width:400px ;
    /* border: 1px solid crimson ; */
    margin: 0 auto ;
    min-height: 200px ;
    padding: 40px;
    margin-top: 40px;
    /* line-height : 200px; */
    border-bottom: 3px dashed rgb(59, 187, 112);
    background-color: beige;
}

.vcenter {
    line-height: 120px;
    /* height - top padding - bottom padding */
    /* 200 - 40 - 40 = 120*/
}

span {
    color: blue;
    /* display: none; */
}